.text_section {
    h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: clamp(1.125rem, 0.9871rem + 0.6897vw, 1.375rem);
        color: $link-color-active;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        margin-bottom: 1.25rem;
        font-size: clamp(1.5rem, 1.3621rem + 0.6897vw, 1.75rem);
        text-align: center;
    }
    p{
        font-weight: 500;
        font-size: clamp(0.9375rem, 0.8685rem + 0.3448vw, 1.0625rem);
        margin-bottom: 2rem;
        text-align: justify;
    }
}

.column_grid {
    display: grid;
    grid-template-columns: 1fr;
    @include custom-width(820px) {
        grid-template-columns: 1fr 1fr;
        gap: 2.1875rem;
    }
}