/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: var(--link-color-active);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}



// custom styles for global selectors

body {
  background-color: var(--bg-main-color);
  font-size: 16px;
  height: 100%;
  width: 100%;
  color: var(--body-color);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

html {
  scrollbar-color: var(--link-color-active) #000;
  scrollbar-width: thin;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em 1.5em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.btn {
  background-color: var(--link-color-active);
  color: var(--link-color) !important;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 1rem 3rem;
  &:hover, &:focus {
    background-color: var(--btn-hover);
    &::after {
      display: none;
    }
  }
}

.btn-link {
  @media (max-width: 790px){
    background-color: transparent;
    padding: 0;
    font-weight: normal;
    &:hover, &:focus {
      color: var(--link-color-active) !important;
      background-color: transparent;
      &::after {
        display: block;
      }
    }
  }
 
}